---
---

<div>
  Glynn started his career in the research and development arm of the steel industry, creating sensors and control systems.
  He then became a web developer for a business directory company building CRM systems, search technology and automated
  telephony systems. He now works for IBM in the UK, first as a Developer Advocate and now as a Client Architect.
</div>

<h2>Links</h2>
<ul>
  <li><a href="https://mastodon.social/@glynn_bird">Mastodon</a></li>
  <li> <a href="https://github.com/glynnbird">Github</a></li>
  <li><a href="https://uk.linkedin.com/pub/glynn-bird/aa/253/25a/">LinkedIn</a></li>
  <li><a href="https://stackoverflow.com/users/4264864/glynn-bird">Stack Overflow</a></li>
  <li><a href="/pic/">Picture</a></li>
</ul>
  
