---
const software = [
  {
    url: 'https://drummer.glynnbird.com/',
    title: 'Drummer',
    summary: 'A web-based drum machine.'
  },
  {
    url: 'https://pass.glynnbird.com/',
    title: 'PasswordGen',
    summary: 'A simple password generator.'
  },
  {
    url: 'https://transposer.glynnbird.com/',
    title: 'Transposer',
    summary: 'A guitar tab and lyrics store that allows each song\'s key to be changed.'
  },
  {
    url: 'https://teletext.glynnbird.com/',
    title: 'Teletext',
    summary: 'Hacker news presented as Teletext.'
  },
  { 
    url: 'https://dogfight.glynnbird.com/',
    title: 'Dogfight',
    summary: 'Web-based recreation of an old BBC micro game.'
  },
  { 
    url: 'https://cryptario.net/',
    title: 'Cryptario',
    summary: 'Cryptic crossword tools.'
  },
  {
    url: 'https://anagram.glynnbird.com/',
    title: 'Anagram Helper',
    summary: 'A tool to help when making anagrams'
  }
]
---

<h2>Websites</h2>
<dl>
  {software.map((p) => 
    <dt><a href={ p.url }>{ p.title }</a></dt>
    <dd>{ p.summary }</dd>
  )}
</dl>
