doctype html
html(lang="en")
  head
    include head.pug
  body
    include nav.pug
    
    div.container

      include me.pug
      
      p Glynn started work in the steel industry, creating sensors and control & instrumentation systems for their research and development arm.
      p Then he became a web developer for a business directory business, creating search technology, CRM systems and automated telephony using a variety of relational and NoSQL technologies.
      p He is now a developer advocate for IBM Cloud Data Services.

