script(src="https://code.jquery.com/jquery-2.1.1.min.js")
script(src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.6/js/materialize.min.js")
script(src="https://cdn.jsdelivr.net/pouchdb/5.4.3/pouchdb.min.js")
script(src="/js/glynnbirddotcom.js")