doctype html
html(lang="en")
  head
    include head.pug
  body
    div.container
      div.card
        div.card-content 
          img.responsive-img.circle.profile.right(src="/img/me.jpg")
          span.card-title Glynn Bird
          p.bannerbody Developer Advocate @ IBM 
          div.chip
            a.teal-text.text-darken1(href="https://twitter.com/glynn_bird") Twitter
          div.chip 
            a.teal-text.text-darken1(href="https://github.com/glynnbird") Github
          div.chip
            a#emaillink.teal-text.text-darken1(href="#") Email
          div.chip 
            a.teal-text.text-darken1(href="https://www.tumblr.com/blog/glynnbird") Tumblr
          div.chip 
            a.teal-text.text-darken1(href="https://plus.google.com/u/0/104568547176207232389/posts") Google
          div.chip 
            a.teal-text.text-darken1(href="http://instagram.com/glynn_bird") Instagram
          div.chip
            a.teal-text.text-darken1(href="http://uk.linkedin.com/pub/glynn-bird/aa/253/25a/") LinkedIn

      div#progressbar.progress
        div.indeterminate
  
      div#removefilter
        a.btn(href="Javascript:filter('')") Remove filter       
      
      div#content  
                
      script.
        document.getElementById("emaillink").href="mailto:" + String.fromCharCode(103,108,121,110,110,46,98,105,114,100,64,103,109,97,105,108,46,99,111,109);
      
    include foot.pug      
