doctype html
html(lang="en")
head
  include head.jade

body
  div.container
    
    div.header &nbsp;
      
    div.jumbotron.palette0
      img.img-responsive.pull-right.me(src="/img/me.jpg")
      h1 Glynn Bird
      p Developer Advocate @ Cloudant
      h1  
        ul.list-inline
          li
            a(href="https://twitter.com/glynn_bird")
              i.fa.fa-twitter
          li 
            a(href="https://github.com/glynnbird")       
              i.fa.fa-github
          li 
            a(href="https://www.tumblr.com/blog/glynnbird")       
              i.fa.fa-tumblr
          li 
            a(href="https://plus.google.com/u/0/104568547176207232389/posts")       
              i.fa.fa-google 
          li 
            a(href="http://instagram.com/glynn_bird")       
              i.fa.fa-instagram
              
                                        
      div.clearfix 

      
    div.row
      div.col-lg-4 
        div.alert.palette1
          a(href="https://github.com/glynnbird/birdreader")
            img#forkme(style="position: absolute; top: 0; right: 0; border: 0; margin-right:15px", src="https://camo.githubusercontent.com/365986a132ccd6a44c23a9169022c0b5c890c387/68747470733a2f2f73332e616d617a6f6e6177732e636f6d2f6769746875622f726962626f6e732f666f726b6d655f72696768745f7265645f6161303030302e706e67", alt="Fork me on GitHub", data-canonical-src="https://s3.amazonaws.com/github/ribbons/forkme_right_red_aa0000.png")
          h2 BirdReader
          img.pull-right(src="/img/birdreader.png")
          div Host-it-yourself RSS Reader built with Node.js & Cloudant. Host on Cloud, PC or Raspberry Pi.
          div.clearfix
        
      div.col-lg-4
        div.alert.palette2
          a(href="https://github.com/glynnbird/geoquiz")
            img#forkme(style="position: absolute; top: 0; right: 0; border: 0; margin-right:15px", src="https://camo.githubusercontent.com/365986a132ccd6a44c23a9169022c0b5c890c387/68747470733a2f2f73332e616d617a6f6e6177732e636f6d2f6769746875622f726962626f6e732f666f726b6d655f72696768745f7265645f6161303030302e706e67", alt="Fork me on GitHub", data-canonical-src="https://s3.amazonaws.com/github/ribbons/forkme_right_red_aa0000.png")
          h2 GeoQuiz
          img.pull-right(src="/img/geoquiz.png")
          div Client-side programming demo using jQuery & Cloudant. 
            a(href="http://geoquiz.mybluemix.net") Test your geographical knowledge.
          div.clearfix
          
      
      div.col-lg-4
        div.alert.palette3 
          a(href="https://github.com/glynnbird/celsius")
            img#forkme(style="position: absolute; top: 0; right: 0; border: 0; margin-right:15px", src="https://camo.githubusercontent.com/365986a132ccd6a44c23a9169022c0b5c890c387/68747470733a2f2f73332e616d617a6f6e6177732e636f6d2f6769746875622f726962626f6e732f666f726b6d655f72696768745f7265645f6161303030302e706e67", alt="Fork me on GitHub", data-canonical-src="https://s3.amazonaws.com/github/ribbons/forkme_right_red_aa0000.png")
          h2 Celsius
          img.pull-right(src="/img/celsius.png")
          div Mobile-first demo built with Raspberry Pi, CouchDB & Cloudant 
            a(href="http://celsius.mybluemix.net") measuring temperature.
          div.clearfix
          

      
      
