doctype html
html(lang="en")
  head
    include head.pug
  body
    include nav.pug
    
    div.container

      include me.pug
      
      div#progressbar.progress
        div.indeterminate
  
      div#removefilter
        a.btn(href="Javascript:filter('')") Remove filter       
      
      div#content  
                
      script.
        document.getElementById("emaillink").href="mailto:" + String.fromCharCode(103,108,121,110,110,46,98,105,114,100,64,103,109,97,105,108,46,99,111,109);
      
    include foot.pug      
