doctype html
html(lang="en",manifest="glynnbirddotcom.appcache")
head
  include head.jade

body
  div.container
    
    div.header &nbsp;
      
    div.jumbotron.palette0
      img#me.img-responsive.pull-right.me.faded(src="/img/me.jpg")
      h1 Glynn Bird
      p Developer Advocate @ IBM Cloudant
      h1  
        ul.list-inline
          li
            a(href="https://twitter.com/glynn_bird")
              i.fa.fa-twitter
          li 
            a(href="https://github.com/glynnbird")       
              i.fa.fa-github
          li
            a#emaillink(href="#")
              i.fa.fa-envelope
          li 
            a(href="https://www.tumblr.com/blog/glynnbird")       
              i.fa.fa-tumblr
          li 
            a(href="https://plus.google.com/u/0/104568547176207232389/posts")       
              i.fa.fa-google 
          li 
            a(href="http://instagram.com/glynn_bird")       
              i.fa.fa-instagram
          li
            a(href="http://uk.linkedin.com/pub/glynn-bird/aa/253/25a/")
              i.fa.fa-linkedin-square

        
                                         
      div.clearfix 

      hr

      h2#removefilter
        a.btn.btn-primary(href="Javascript:filter('')") Remove filter       
      
      div#content  
                
      script.
        document.getElementById("emaillink").href="mailto:" + String.fromCharCode(103,108,121,110,110,46,98,105,114,100,64,103,109,97,105,108,46,99,111,109);
      
      
