.card-body {
  min-height:100px;
 }

 .bannerbody {
   min-height:40px;
 }

.profile {
  width:100px;
}

.chip {
  margin-right: 5px;
  margin-bottom: 5px;
}

.tag {
  font-size:12px
}

#progressbar {
  display: none
}

