body {
  background-color:#666;
}

.me {

 border-radius:5px;
}

.faded {
   opacity: 0.45;
}

.palette0 {
  background-color: #373D4B;
  color: #8CB2DD;
}

.palette1 {
  background-color: #8694AB;
}

.palette2 {
  background-color: #97C7EF;
}

.palette3 {
  background-color: #DAE2EB;
}

.palette1 h2, .palette2 h2, .palette3 h2 {
  color:  #373D4B;
}

.alert a , .alert a:hover, .alert a:visited{
  color:#333;
}

.palette1 div, .palette2 div, .palette3 div {
  color:  #373D4B;
  
}




.alert img {
  margin-left:10px;
}
.alert {
  height: 280px;
  width:100%;
  display: table;
}


.foot {
  display: table-footer-group;
  overflow: hidden;
}

.palette4 {
  background-color: #8CB2DD;
}
.spc { 
  font-size: 10px;
  margin-right:5px;
}

