---
import Layout from '../../layouts/Layout.astro';
---
<Layout title="Fascination" description="Fascination - Glynn Bird - 1999">
  <h2>Fascination</h2>
  <h3>An album of songs by Glynn Bird.</h3>
  <img src="/assets/img/fascination.png" class="img-thumbnail" alt="Fascination">
  <hr>
  <p class="credits">
  Vocals, guitars, bass and keyboards performed by Glynn Bird.<br>
  Engineered and produced by Glynn Bird.<br>
  Recorded at home in 1999.
  </p>
  <iframe width="100%" height="250" scrolling="no" frameborder="no" allow="autoplay" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/playlists/998729179%3Fsecret_token%3Ds-20LqJ&color=%23ff5500&auto_play=false&hide_related=false&show_comments=true&show_user=true&show_reposts=false&show_teaser=true&visual=true"></iframe>  
</Layout>
