body {
  background: black;
  color: #ccc
}

.card-header {
  background: #444
}

.btn-link,
.btn-link:hover {
  color: #ddd;
  font-weight: bold
}

.card-body {
  background: #555
}

.jumbotron {
  background: #555
}

hr {
  background: #888
}

.credits {
  font-size: 12px
}