---
import Layout from "../layouts/Layout.astro";
import Pic from "../components/Pic.astro";
import Blurb from "../components/Blurb.astro";
import Title from "../components/Title.astro";
import PostList from "../components/PostList.astro";
import SoftwareList from "../components/SoftwareList.astro";
import SiteList from "../components/SiteList.astro";
---

<Layout title="Glynnbird.com" description="The personal website of Glynn Bird">
  <header>
    <Title />
    <Blurb />
    <Pic />
  </header>
  <main>
    <SiteList />
    <SoftwareList />
    <PostList />
    0.0.8
  </main>
</Layout>
