---
export interface Props {
  title: string;
  description: string;
}

const { title } = Astro.props;
---

<!DOCTYPE html>
<html lang="en">
 <head>
    <meta charset="utf-8" />
    <title>{title}</title>
    <meta name="description" content="Home page of Glynn Bird. IBMer and open source software creator." />
    <meta name="viewport"  content="width=device-width,minimum-scale=1,initial-scale=1" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <link rel="manifest" href="/gb.webmanifest" />
  </head>
  <body>
    <slot />
  </body>
</html>

<style is:global>
body {
  font-family: 'Courier New', monospace;
  padding: 50px;
}
a:visited, a:link, a:hover {
  color: black;
}
dt {
  font-weight: bold;
}
dd {
  margin-inline-start: 0px;
  margin-bottom: 15px;
  margin-top: 8px;
}
</style>
